<h2>Dodaj dokument</h2>
<!--<mat-tab-group>-->
  <!--<mat-tab label="Dokument">-->
    <app-document-form></app-document-form>
  <!--</mat-tab>-->
  <!--<mat-tab label="Zadania">-->
    <!--<app-task-form></app-task-form>-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Historia">-->
    <!--<app-document-history></app-document-history>-->
  <!--</mat-tab>-->
<!--</mat-tab-group>-->
