<div>
  <i class="material-icons show-action" (click)="redirect()" matTooltip="Pokaż">pageview</i>
  <i class="material-icons delete-action" (click)="emmitAction(actionType.Remove, rowData)" matTooltip="Usuń">delete</i>
</div>
