@import "~src/assets/css/default";

.logo {
  padding: 15px 0;
  margin-left: 15px;
  display: block;
  position: relative;
  z-index: 4;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, .3);
  }
}
ul{
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  a{
    border-radius: 3px;
    color: #3c4858;
    text-transform: capitalize;
    font-size: 13px;
    margin: 10px 15px;
    display: block;
    padding: 10px 15px;
    i{
      font-size: 24px;
      float: left;
      margin-right: 15px;
      line-height: 30px;
      width: 30px;
      text-align: center;
      color: #a9afbb;
    }
    &:hover{
      background-color: rgba(200,200,200,.2);
      color: #3c4858;
      box-shadow: none;
    }
    &.active{
      background-color: $top-color;
      color: white;
      i{
        color: white;
      }
    }

    p{
      margin: 0;
      line-height: 30px;
      font-size: 14px;
      position: relative;
      display: block;
      height: auto;
      white-space: nowrap;
    }
  }
}

