<div class="sidebar">
  <div class="logo">
    <img [src]="'./assets/img/logo.png'" >
  </div>
  <ul>
     <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-align-justify"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/documents" routerLinkActive="active">
        <i class="fas fa-file"></i>
        <p>Dokumenty</p>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/tasks" routerLinkActive="active">
        <i class="fas fa-tasks"></i>
        <p>Zadania</p>
      </a>
    </li>
  </ul>
</div>

