<ng-container *ngIf="!loading">
  <h3>Zadania</h3>
  <app-action-header (termEmitter)="onSearch($event)">
    <i class="fas fa-plus add-task" (click)="redirectToTaskForm()"></i>
  </app-action-header>
  <app-table></app-table>

</ng-container>
<app-spinner *ngIf="loading" [center]="true"></app-spinner>
