.action-header{
  width: 100%;
  height: 50px;
  background: #1f716e;
  border-radius: 5px 5px;
  margin-bottom: 20px;
  line-height: 50px;
}
app-searchbar{
  float: right;
  line-height: 50px;
  margin-right: 15px;
}

