.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 7px solid;
  border-color: #45a3bf transparent #45a3bf transparent;
  animation: lds-dual-ring 1.4s linear infinite;
  transform-origin: center;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
    height: 80%;
    width: 80%;
  }
  50%{
    height: 100%;
    width: 100%;
  }

  100% {
    height: 80%;
    width: 80%;
    transform: rotate(360deg);
  }
}

.center{
  position: fixed;
  top: 50%;
  left: 50%;
}
