.input{
  position: relative;
  display: inline-block;

}
.input-search{
  border: #d2d2d2;
  border-radius: 3px 3px;
  height: 30px;
  background: white;
  padding-left: 10px;
  padding-right: 30px;

}
i{
  position: absolute;
  right: 0;
  line-height: 50px;
  margin-right: 10px;
  color: #4aadc2;
}

