<div class="header">
  <i class="material-icons" id="prev" (click)="previous()">navigate_before</i>
  <span class="month"><b>{{monthYear.month | titlecase}}</b> {{monthYear.year}}</span>
  <i class="material-icons" id="next" (click)="next()">navigate_next</i>
</div>
<div class="calendar">
  <div class="week names">
    <span *ngFor="let dayShort of ['Pon', 'Wto', 'Śro', 'Czw', 'Pia', 'Sob', 'Nie']"
          class="day">{{ dayShort  }}</span>
  </div>

  <div class="week" *ngFor="let week of weeks">
    <ng-container *ngFor="let day of week.days">
    <span class="day dayNumber" #days
          [ngClass]="{ 'event': isEvent(day), anotherMonth: !day.isCurrentMonth, 'today': day.isToday, 'active': day.date.format('YYYY-MM-DD') == activeDay.format('YYYY-MM-DD')}"
          (click)="setActiveDay(day.date)">{{day.number}}</span>
    </ng-container>
  </div>
</div>

