
$light-blue: #7bd0fe;
.calendar {
  font-size: 12px;
  padding: 0 20px 0 10px;

}

.header {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  .month {
    min-width: 145px;
    display: inline-block;
  }
  i{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 5px;
  }
}

.week {
  width: 100%;
  &.names {
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
  }
  .day {
    display: block;
    float: left;
    width: calc(100% / 7);
    padding: 10px 10px;
    text-align: center;
  }
}

.week > .day {
  cursor: pointer;

}
.week .dayNumber{
  font-weight: bold;
}

.week > .dayNumber:hover {
  background: #f9f9f9;
  border-radius: 5px;
}
.week.names span{
  cursor: default;
}

.today {
  background: #f7f7f7;
  border-radius: 5px;
  z-index: 2;
}

.event {
  background: #f9f9f9;
  border-radius: 5px;
  z-index: 1;
}

.anotherMonth {
  color: #635d5d;
}
.active{
  color: #7bd0fe;
}
