.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
}

.error {
  font-size: 12px;
  color: red;
}

form {
  padding: 20px;
  width: 100%;
}

.spackbar {
  color: green;
}

input, textarea, select, option {
  border: 1px solid #afafaf;
  border-radius: 3px;
  padding-left: 5px;
  background: white !important;
}

input {
  height: 30px;
}

input[type=file] {
  border: none;
  background: transparent;
}

select {
  width: 200px;
  height: 30px;
  background: white;
}

#documentName {
  width: 200px;
}

::-webkit-file-upload-button {
  background: #3d8dbc;
  border: none;
  color: white;
  padding: 1em;
  &:focus{
    border: none;
  }
}

.save-btn {
  background: #3d8dbc;
  border: none;
  padding: 12px;
  color: white;
  cursor: pointer;
}

.form-group {
  display: inline-grid;
  margin-right: 20px;
  margin-bottom: 20px;

  label {
    margin-bottom: 5px;
  }
}

table, th, td {
  border: 1px solid #a9a9a9;
  text-align: center;
  background: white;
}

.table-file {
  width: 100%;
  border-collapse: collapse;

  i {
    color: darkred;
    cursor: pointer;
  }
}


.preview {
  height: 600px;
  min-width: 300px;
  border: 2px dashed #656565;
  margin: 20px;
  text-align: center;
  vertical-align: middle;

  p {
    line-height: 600px;
  }
}
