<div class="grid">
  <div class="document-form">
    <form [formGroup]="documentForm">
      <div class="document-form">
        <div class="form-group">
          <label for="documentName">Nazwa dokumentu</label>
          <input name="documentName" matInput type="text" id="documentName" formControlName="documentName" required
            placeholder="Nazwa dokumentu">
          <div class="error" *ngIf="documentName.errors?.required && (documentName.touched || documentName.dirty)">To pole jest wymagane</div>
        </div>
        <div class="form-group">
          <label for="">Pracownik</label>
          <select formControlName="user">
            <option *ngFor="let user of users" [value]="user.userId">{{user.fullName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Status</label>
          <select formControlName="status">
            <option *ngFor="let state of status" [value]="state.statusid">{{state.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Typ dokumentu</label>
          <select formControlName="type">
            <option *ngFor="let documentType of documentsTypes" [value]="documentType.type">
              {{ documentType.name }}
            </option>
          </select>
        </div>

        <br>
        <div class="form-group">
          <label for="">Opis</label>
          <textarea matInput formControlName="description" id="" cols="80" rows="5" placeholder="Opis"></textarea>
          <div class="error" *ngIf="description.errors?.required && (description.touched || description.dirty)">To pole jest wymagane</div>
        </div>
        <br>

        <table *ngIf="fileExists" class="table-file">
          <tr>
            <th>Nazwa</th>
            <th>Data utworzenia</th>
            <th>Akcje</th>
          </tr>
          <tr>
            <td>{{ documentData.fileName }}</td>
            <td>{{ documentData.createDate | date }}</td>
            <td><i class="far fa-trash-alt" (click)="removeFile()"></i></td>
          </tr>
        </table>
        <input *ngIf="!fileExists" (change)="onFile($event)" formControlName="file"
               [multiple]="true" type="file" name="file">
        <button class="save-btn" (click)="checkIsValid()" >Zapisz</button>
      </div>
    </form>
  </div>
</div>
