<div class="user-form">

  <form [formGroup]="userForm" >

    <div class="form-group">
      <label for="login">Login</label>
      <input required formControlName="login" type="text" id="login" name="login" />
    </div>


    <div class="form-group">
      <label for="firstName">Imię</label>
      <input required formControlName="firstName" type="text" id="firstName" name="firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">Nazwisko</label>
      <input required formControlName="lastName" type="text" id="lastName" name="lastName" />
    </div>

    <div class="form-group">
      <label for="password">Hasło</label>
      <input formControlName="password" type="password" id="password" name="password" />
    </div>

    <div class="form-group">
      <label for="role">Rola</label>
      <select formControlName="role" id="role">
        <option *ngFor="let role of roles" [value]="role.roleid">{{role.rolename}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="isDeleted">Usunięty</label>
      <input formControlName="isDeleted" type="checkbox" id="isDeleted" name="isDeleted">
    </div>


  </form>
  <button class="save-btn" (click)="onSave()">Zapisz</button>
  <button class="cancel-btn" (click)="redirect()">Anuluj</button>
</div>
