<div class="container">
  <ng-container *ngIf="documents && !loading">
    <app-table [disabledPaginator]="true"></app-table>
    <button [routerLink]="'/documents'" >Pokaż wszystkie</button>
  </ng-container>
  <ng-container *ngIf="!documents && !loading">
    <p>Brak dokumentów</p>
  </ng-container>
  <ng-container *ngIf="loading">
    <div class="spinner">
      <app-spinner ></app-spinner>
    </div>
  </ng-container>
</div>
