.container{
  padding: 10px;
  position: relative;
}
button{
  background: #3d8dbc;
  border: none;
  padding: 12px;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translate(-50%);
}
.spinner{
  position: absolute;
  left: 50%;
  margin-top: 125px;
  transform: translate(-50%);
}
