<table mat-table matSort [dataSource]="dataSource">

  <ng-container matColumnDef="{{column.name}}" *ngFor="let column of columnsConfig">
    <th mat-header-cell [ngClass]="'max-width'" *matHeaderCellDef mat-sort-header>{{column.label}}</th>
    <td mat-cell *matCellDef="let element">
        <app-table-cell [rowData]="element[column.name]"  [columnType]="column.columnType"></app-table-cell>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [ngClass]="{'hidden': disabledPaginator}" [pageSize]="10"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="[5, 10, 20]" >
</mat-paginator>

