table {
  width: 100%;
  ::ng-deep thead{
    background: #4aadc2 !important;
    th button{
      color: white !important;
    }
  }
}



tr:nth-child(even) {
  background-color: #f2f2f2
}

.hidden{
  display: none;
}
