<h2>Edytuj dokument</h2>
<mat-tab-group>
  <mat-tab label="Dokument" >
    <app-document-form *ngIf="documentData"  [documentData]="documentData"></app-document-form>
  </mat-tab>
  <mat-tab label="Zadania">
    <app-tasks-list></app-tasks-list>
  </mat-tab>
  <!--<mat-tab label="Historia">-->
    <!--<app-document-history></app-document-history>-->
  <!--</mat-tab>-->
</mat-tab-group>
