.calendar-widget{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box{
  padding: 20px;
}
.box:first-child{
  padding: 10px;
  border-right: 1px solid #e1e1e1;
  margin-top: 20px;
}
.event-date{
  text-align: center;
}
