<div class="calendar-widget">
  <div class="box calendar">
    <app-calendar (activeDateEmiter)="setTasksForActiveDay($event)"></app-calendar>
  </div>
  <div class="box tasks">
    <p class="event-date">{{ eventDate | date}}</p>
    <app-task-short-list [tasks]="tasks" [height]="200"></app-task-short-list>
  </div>
</div>
