<div *ngIf="!isLogged">
  <router-outlet></router-outlet>
</div>

<div class="app" *ngIf="isLogged">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content">
    <app-top-bar></app-top-bar>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
