<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Nazwa użytkownika:</label>
    <input type="text" id="username" name="username" required formControlName="username">
    <div *ngIf="submitted && f.username.errors" class="error-message">
      <div *ngIf="f.username.errors.required">Nazwa użytkownika jest wymagana</div>
    </div>

    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" required formControlName="password">
    <div *ngIf="f.password.errors" class="error-message">
      <div class="error-message" *ngIf="submitted && f.password.errors.required">Hasło jest wymagane</div>
    </div>
    <div class="error-message" *ngIf="submitted && loginForm.touched">Błędne hasło lub login</div>
    <div id="lower">
      <button [disabled]="loading" class="submit-btn">Zaloguj</button>
    </div>
  </form>
</div>
