<div class="document-history">

  <ng-container *ngFor="let history of histories">
    <div class="history-field">
      <div class="changed-field">
        <span>Zmieniono pole <b>{{ history.fieldName }}</b></span>
        <div>
          <span class="person">Paweł Konik</span>
          <span class="date">{{ history.creationDate | date: 'yyy-MM-dd HH:mm' }}</span>
        </div>
      </div>
      <p><span>Z: <i>{{ history.from }}</i></span><span> Na: <i>{{ history.to }}</i></span></p>
    </div>
  </ng-container>

</div>
