.document-history{
  background: white;
  padding-bottom: 20px;
  .history-field{
    padding: 10px;
    border-bottom: 1px solid #c5c5c5;
  }
  .date{
    font-size: 13px;
    padding-left: 10px;
    color: #5a5a5a;
  }
}
