  <div class="content">
    <ng-container *ngIf="tasks.length">
      <div *ngFor="let task of tasks" class="single-task" (click)="redirectToTask(task)">
        <div>
          <h4 class="task-name">{{ task.name }}</h4>
          <p class="task-description">{{ task.description }}</p>
        </div>
        <div class="date">
          <span class="start-date">Start {{ task.start | date }}</span>
          <br>
          <span class="end-date">Koniec {{ task.enddate | date }}</span>
        </div>
      </div>
    </ng-container>
  </div>
