::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}

.content {
  width: 100%;
  overflow: auto;
}

.single-task {
  margin: 10px;
  position: relative;
  border-bottom: 1px solid #cecaca;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  font-size: 12px;
  cursor: pointer;

  .task-name {
    margin-top: 5px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
  }
  .task-description{
    max-height: 95px;
    max-width: 275px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
}
