.widget {
  background: white;
  border-radius: 5px;
  box-shadow: 4px -3px 3px 0px rgba(0, 0, 0, 0.13);
}

.header {
  background: #f9f9f9;
  border-bottom: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  border-radius: 5px 5px 0 0;
  position: relative;

  h3 {
    color: #303030;
    font-weight: 400;
  }

  .action-icons {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    color: #b3b3b3;
    &:hover{
      color: #6b6b6b;
    }
  }
}
