<div class="widget" [style.width.px]="width" [style.height.px]="height">
  <div class="header">
    <h3><i [class]="'fas fa-'+ icon"></i> {{ title }}</h3>
    <div class="action-icons">
      <i class="fas fa-sync-alt" (click)="emmitRefreshAction()"></i>
    </div>
  </div>
  <ng-content></ng-content>
</div>
