<div class="combo-container">
  <label>{{ label }}</label>
 <span class="drop-down">

   <input  type="text"
           class="input-control"
           [(ngModel)]="textToSort"
           (ngModelChange)="textChange($event)"
           (focus)="onFocusEventAction()"
   />
   <button class="drop-down-button"
   (click)="toogleDropDown()">
  <i class="fas fa-search"></i>
   </button>
 </span>
  <div class="data-list" *ngIf="showDropDown">
    <p (click)="updateList(data, i)" *ngFor="let data of dummyDataList; let i = index" >{{data[columnName]}}</p>
  </div>
</div>
