.combo-container {
  position: fixed;
  z-index: 9;
  background: white;
  display: inline-grid;
  margin-right: 20px;
  margin-bottom: 20px;
}

.data-container {
  background: transparent;
  display: block;
  position: relative;
  border: 1px solid grey;
  height: 200px;
  overflow-y: scroll;
  top: -1px;
  p{
    padding-left: 10px;
  }
}

.data-list {
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid #afafaf;
  p{
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #afafaf;
    margin: 0;
  }
  p:hover{
    background: #eaeaea;
  }
}

.drop-down-button {
  border: none;
  background: transparent;
  position: absolute;
  right: -12px;
  padding-right: 25px;
  top: 26px;
}

.highlight {
  background: grey;
}

input, select {
  border: 1px solid #afafaf;
  border-radius: 3px;
  padding-left: 5px;
  background: transparent;
  width: 100%;
}

input, select {
  height: 30px;
}
