<h1>Dashboard</h1>
<app-widget [width]="350" [height]="400" [title]="'Zadania na dziś'" (refreshAction)="refreshTask()" >
  <app-task-widget></app-task-widget>
</app-widget>

<app-widget [width]="800" [icon]="'file-alt'" [height]="400" [title]="'Dokumenty'">
 <app-document-widget></app-document-widget>
</app-widget>

<app-widget [width]="700"  [height]="350" [title]="'Kalendarz'">
  <app-calendar-widget></app-calendar-widget>
</app-widget>
