@import "assets/css/default";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
  box-sizing: border-box;
}

body, html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #eee;
}
a{
  text-decoration: none;
}

.text-top-color{
  color: $top-color;
}

.backgoung-top-color{
  background: $top-color;
}

// input, textarea, select, option {
//   border: 1px solid #afafaf;
//   border-radius: 3px;
//   padding-left: 5px;
//   background: white !important ;
// }

// input {
//   height: 30px;
// }

// input[type=file] {
//   border: none;
//   background: transparent;
// }

// select {
//   width: 200px;
//   height: 30px;
//   background: white;
// }
