<div class="task-from">
  <form [formGroup]="taskForm">

    <div class="form-group">
      <label for="taskName">Nazwa zadania</label>
      <input formControlName="taskName" type="text" id="taskName" name="taskName"/>
    </div>

    <div class="form-group">
      <label for="user">Pracownik</label>
      <select formControlName="user" id="user">
        <option *ngFor="let user of users" [value]="user.userId">{{user.fullName}}</option>
      </select>
    </div>



    <div class="form-group">
      <label for="from">Od</label>
      <input formControlName="from" matInput autocomplete="off" [matDatepicker]="picker" id="from" name="from"
             placeholder="Wybierz date">
      <mat-datepicker-toggle class="date" matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="form-group">
      <label for="to">Do</label>
      <input formControlName="to" autocomplete="off" matInput [matDatepicker]="picker1" id="to" name="to"
             placeholder="Wybierz date">
      <mat-datepicker-toggle class="date" matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </div>

    <div class="form-group">
      <app-combobox [label]="'Dokument'"
                    (keyup)="getDocuments($event)"
                    [dataList]="documents$ | async"
                    [columnName]="'docName'"
                    (selectedItem)="setSelectedDocument($event)"
                    [initialData]="taskData">
      </app-combobox>
    </div>

    <div class="form-group completed">
      <label for="isCompleted">Oznacz jako zakończone</label>
      <input formControlName="isCompleted" type="checkbox" id="isCompleted" name="isCompleted">
    </div>

    <div class="form-group">
      <label for="taskDescription">Opis zadania</label>
      <textarea formControlName="taskDescription" type="text" id="taskDescription" name="taskDescription" cols="50"
                rows="10"></textarea>
    </div>


  </form>

  <div>
    <button class="cancel-btn" (click)="cancel()"><i class="fas fa-chevron-left"></i> Wróć</button>
  </div>

  <div>
    <button class="save-btn" (click)="save()">Zapisz</button>
  </div>
</div>
