.task-from{
    background: #fff;
    

    form{
        position: relative;
        display: grid;
        grid-template-columns:  1fr 1fr;
        padding: 20px;
    }
}

input, textarea, select, option {
    border: 1px solid #afafaf;
    border-radius: 3px;
    padding-left: 5px;
    background: white !important ;
  }
  
  input {
    height: 30px;
  }
  
  input[type=file] {
    border: none;
    background: transparent;
  }
  
  select {
    width: 200px;
    height: 30px;
    background: white;
  }

  .form-group {
    display: inline-grid;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;

    label {
      margin-bottom: 5px;
    }
    .date {
        position: absolute;
        right: 0;
        line-height: 20px;
        margin-top: 17px;
    }
    &.completed{
      display: block;
    }
    
  }
  #isCompleted{
    width: 20px;
    height: 20px;
    display: flex;
  }

  .save-btn{
    background: #3d8dbc;
    border: none;
    padding: 12px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 20px
  }

  .cancel-btn{
    background: rgb(255, 68, 68);
    border: none;
    padding: 12px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 120px;
    bottom: 20px
  }