<ng-container *ngIf="!loading">
  <h3>Dokumenty</h3>
  <app-action-header (termEmitter)="onSearch($event)">
    <i class="fas fa-plus" routerLink="add"></i>
  </app-action-header>
  <app-table></app-table>
</ng-container>
<app-spinner *ngIf="loading" class="spinner"></app-spinner>
