i{
  background: #4aadc2;
  border: none;
  border-radius: 50%;
  padding: 10px;
  color: white;
  margin-left: 10px;
  font-size: 11px;
  cursor: pointer;
}
.spinner{
  position: fixed;
  top: 50%;
  left: 50%;
}
