@import "~src/assets/css/default";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}

.top-bar {
  height: 50px;
  background: #3c8dbc;
  border-bottom: 2px solid #9595951a;
  display: block;
  color: white;

  .badge {
    background: #3f51b5;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 12px;
    margin: 0 5px;
  }

  i {
    font-size: 18px;
    cursor: pointer;
    vertical-align: middle;
  }

  ul, li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  ul li {
    line-height: 50px;
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    vertical-align: middle;

  }

  ul.left {
    margin-left: 20px;
  }

  ul.right {
    float: right;
    margin-right: 20px;
  }

  //  SETTINGS
  .settings {

  }

  .profile {
    img {
      border-radius: 50%;
      vertical-align: middle;
      cursor: pointer;
    }

    .user-name {
      margin-left: 10px;
      font-size: 12px;
      color: white;
    }
  }
}

.no-data-found {
  margin: 20px 10px;
}

.notification {
  color: #000;
  position: absolute;
  background: white;
  z-index: 9999;
  right: 160px;
  width: 400px;
  max-height: 390px;
  overflow: auto;
  box-shadow: 0px 3px 6px 3px #00000047;
  display: block;

  .notification-box {
    width: 340px;
    border-right: 1px solid #0000000f;
    line-height: 40px;
    padding-left: 20px;
    position: relative;


    .notification-date {
      position: absolute;
      right: 10px;
      color: #797979;
      font-size: 13px;
    }
  }

  .notification-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  ul {
    width: 100%;

    li {
      border-bottom: 1px solid #dedede;
      display: block;
      position: relative;

    }

    li:last-child {
      border-bottom: none;
    }
  }

  .delete {
    position: absolute;
    top: 50%;
    right: -40px;
    color: #ff2c4799;
    transform: translate(-15px, -50%);
  }
}

.settings-menu {
  position: absolute;
  background: white;
  color: #3c8dbc;
  z-index: 1;
  right: 20px;
  width: 250px;
  box-shadow: -2px 2px 2px grey;

  ul {
    li {
      display: block;
    }

  }

  p {
    margin: 0;
    padding: 0;
  }

  .logout-btn {
    background: transparent;
    border: none;
    float: right;
    cursor: pointer;
    margin: 10px 0;

    i {
      background: #3d8dbc;
      border-radius: 50%;
      padding: 5px;
      color: white;
      margin-left: 5px;
    }
  }
}

.remove-animation{
  animation: remove 1s;
}

@keyframes remove {
  from{
    display: block;
    height: 80px;
  }
  to{
    height: 0;
    display: none;
  }
}
