<div class="top-bar">
  <ul class="right">
    <li><i class="fas fa-bell" (click)="showNotification()"></i>
      <span class="badge">{{ total }}</span>
    </li>

    <div class="notification" *ngIf="showNotificationBar">
      <ul *ngIf="notifications.length">
        <li  *ngFor="let notification of notifications; let index = index" >
          <div class="list-of-notification  notification-box" *ngIf="notification" >
            <span>{{ mapNotification(notification) }} </span>
            <span class="notification-date">{{ notification.creationDate | date: 'short' }}</span>
            <div class="notification-name" (click)="navigateToLink(notification)">{{ notification?.name }}</div>
            <i class="delete far fa-trash-alt" (click)="removeNotification(notification.id, index)"></i>
          </div>
        </li>
      </ul>
      <div class="no-data-found" *ngIf="!notifications.length">Brak danych</div>
    </div>

    <li class="profile"><img src="./assets/img/icon.jpg" height="30" width="30" (click)="showProfileSettings()">
    <span class="user-name">{{ fullName }}</span></li>
    <li class="settings">
      <div><i class="fas fa-cog" (click)="showSettings()"></i></div>
      <div class="settings-menu" *ngIf="showSettingsMenu">
            <button *ngIf="admin" class="logout-btn" (click)="addUser()">Użytkownicy<i class="fas fa-users"></i></button>
            <button *ngIf="!admin" class="logout-btn" (click)="modifyProfile()">Edytuj profil<i class="fas fa-users"></i></button>
            <button class="logout-btn" (click)="logout()">Wyloguj<i class="fas fa-sign-out-alt"></i></button>
      </div>
    </li>
  </ul>
</div>


